*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerA{
    background: #455d6dc4;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.headerA{
    width: 100%;
    height: 8%;
}
.headerA h3{
    text-align: center;
    margin: 1%;
    color: white;
}
.sectionA{

    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: row;
}
.leftsideA{
    width: 18%;
    height: 100%;

}
.mainbodyA{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.dashboardA{
    margin: 10px;
    margin-left: 50px;
    padding: 8px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    width: 70%;
    height: 6%;
    cursor: pointer;
    color: white;
}

.appointmentinfo{
    height: 100%;
    width: 100%;
    padding: 8px;




    /* align-items: center; */
    background-color: rgba(163, 154, 249, 0.468);

}
.appointmentinfo> table >tr> th{
    border: 1px solid black;
    text-align: center;
}
tbody > td{
    border: 1px solid black;
    text-align: center; 
}
tbody > td > button{
    margin: 2px;

}
/* .appointmentinfo> table >tr>button{
    padding:2px;
    margin: 2px;
} */


.appointmentinfo table{
    width: 100%;
    
}



.menuButton {
    display:none;
  }


/* this is test */



@media screen and (max-width: 768px) {
    .containerA {
      display: flex;
      flex-direction: column;
      width: 130%;
      height: 100%;
    }
  
    .headerA {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .leftsideA {
      display: none;
      flex-direction: column;
    }
  
    .showMenu {
      display: flex;
      width: 30%;
    }
    .mainbodyA{
        width: 100%;
        height: 100vh;
    }
  
    .menuButton {
      display: block;
      position: absolute;
      top: 4%;
      left: 5%;
      border: none;
      background: none;
    }
  }
  