/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}
.left,.right{
    width:50%;
    height:100%;
}
.left{
        background: url('../../assets/images/left.jpg');
        background-repeat: no-repeat;
        background-size: cover;
}
.right{
    background-color: rgb(191, 212, 222);
}
.right h1{
    text-align: center;
    margin-top: 40px;
    font-weight: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}
.right .continue{
    margin: 0px 150px;
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.continue a{

    font-size: 15px;
    text-decoration: none;
    color:green;
}
.continue a:hover{
    color: green;
    cursor: pointer;
}
.continue h2{
    font-size: 22px;
    font-weight: 100px;
}
.continue h3{
    text-align: center;
    font-size: 22px;
    font-weight: 100px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forget{
    text-align: center;
}
.forget a{
    text-decoration: none;
    color:green;
}
.forget a:hover{
    color:green;
    cursor: pointer;
}
.form{
    margin:15px 40px;
}
.form input{
    padding: 10px;
    width: 70%;
    font-size: 20px;
    margin: 10px;
}


.copyright{
margin-top: 9%;
}
.copyright p{
    text-align: center;
    align-items: baseline;

}
.copyright p a{
    color:green;
}
.checkbox{
    text-align: center;
}

.form button{
    padding: 5px;
    font-size: 20px;
    width: 50%;
    margin-top: 40px;
    background-color: rgb(104, 180, 105);
    color: white;

}
.form button:hover{
    background-color: rgb(0, 255, 60);
    color: black;
    cursor: pointer;    
} */





@media (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
    }
    
    .left {
      display: none;
    }
    
    .right {
      width: 100%;
      margin: 0 auto;
      padding: 30px;
    }
    
    .welcome {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .form input,
    .form select {
      width: 100%;
      margin-bottom: 10px;
    }
    
    .forget {
      text-align: center;
      margin-top: 20px;
    }
  }

  

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .left {
    flex: 1;
    height: 100%;
    background: url('../../assets/images/left.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
  }
  
  .welcome {
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form input,
  .form select {
    width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }
  
  .form button {
    width: 400px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #0099ff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #0088cc;
  }
  
  .forget {
    margin-top: 10px;
  }
  
  a {
    color: #0099ff;
    text-decoration: none;
    
  }
  
  a:hover {
    text-decoration: underline;
  }
  