*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('../../assets/images/stethoscope.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    /* background: url('../../assets/images/stethoscope.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    font: 16px/1.4 sans-serif; letter-spacing: 0.12em;
    min-height: 150vh;
    padding: 2em;
    margin: 0;
    color: hsla(0, 0%, 0%, 0.85); 
    /* background-color: #170d24; */
    /* background-image:
      radial-gradient(ellipse at 10% 90%, #ffffff 0%, transparent 55%),
      radial-gradient(ellipse at 90% 90%, #ffffff 0%, transparent 55%),
      radial-gradient(ellipse at 90% 10%, #ffffff 0%, transparent 55%),
      radial-gradient(ellipse at 10% 10%, #ffffff 0%, transparent 55%); */
    width: 100%;
    max-height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.container h1{
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;

}
.container h3{
    text-align: center;
    letter-spacing: 0.05em;
}
.sliding-profile{
    height: 300px;
    width: 70vw;
    margin-top: 50px;
}

.imagesection img{
    height: 295px;
}
.services{
    margin-top: 90px;
    height: 400px;
    width: 100vw;
    background:transparent;
    color: rgb(0, 0, 0);
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(232, 195, 195);

}
.servicess .service1,.service2,.service3{
    height: 350px;
    border: 1px solid black;
    margin: 0px 20px;

}
.services h1{
    font-size: 25px;
    font-weight: 700;
}
.servicess{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.services img{
    height: 350px;
    width: 380px;
}
