*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1{
  background-color: rgb(169, 190, 242);  
    width: 100%;
    height:100vh;
    display: flex;

    flex-direction: column;
}

.appoint{

  width: 80%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  margin: 1%;
  background-color: rgb(169, 190, 242);
  padding: .5%;
  border-radius: 5px;
 
}

.timeslot{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  margin: 1%;
  padding: 1%;
  /* overflow-y: scroll; */
}

#timebox{
  border: 1px solid black;
  margin: 2px;
  padding: 5px;
  width: 13%;
  height: 50px;
  /* background-color: aquamarine; */
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.availableslot {
  background-color: rgb(116, 248, 116);
}

.occupiedslot {
  background-color: red;
}

.pastslot {
  background-color: rgb(153, 153, 153);
  color: white;
}

.buttonclick{
  background-color: rgb(179, 255, 0);
}
