*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer{
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.inputfieldsize{
    width: 30%;
    height: 7%;
    margin: 10px;
}
.inputfieldsize1{
    width: 30%;
    height: 7%;
    margin: 10px;
}
.inputfieldsize1:hover{
    background-color: aqua;
}
