* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form2 {
  background-color: rgb(121, 152, 225);
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0px;
  padding: 15px;

}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

.sameline{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.changebutton{
  margin: 5px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field > input{
  padding: 8px;
  font-size: 16px;
  border: none;
  /* border-radius: 4px; */
  background-color: #f4f4f4;
  width: 200%;
  box-sizing: border-box;
}
.field > 
.inputinput{
  padding: 8px;
  font-size: 16px;
  border: none;
  /* border-radius: 4px; */
  background-color: #f4f4f4;
  width: 200%;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  /* border-radius: 4px; */
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}